/* ?Utility */

/* Flex */
.flex {
    display: flex;
}

/* Altezza Header */
.recipe-header {
    height: 80px;
    background-color: black;
}

/* Altezza Main */
.recipe-main {
    height: calc(100vh - 80px);
    background-color: aqua;
}

/* Recipiente Barra Laterale */
.recipe-aside {
    flex-basis: 80px;
    flex-shrink: 0;
    background-color: blanchedalmond;
}

/* Recipiente Attività */
.recipe-activity {
    flex-grow: 1;
    overflow: auto;
}